<% content_for :context, context %>
<% content_for :title, "Review #{@edition.block_type.humanize.downcase}" %>

<% content_for :back_link do %>
  <%= render "govuk_publishing_components/components/back_link", {
    href: back_path,
  } %>
<% end %>

<% if @edition.schema.embeddable_as_block? %>
  <% content_for :title_side do %>
    <%= render "shared/preview_link", edition: @edition %>
  <% end %>
<% end %>

<% if @error_summary_errors %>
  <%= render "govuk_publishing_components/components/error_summary", {
    title: "There is a problem",
    items: @error_summary_errors,
  } %>
<% end %>

<div id="edition_<%= @edition.id %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render(
            Edition::Show::ConfirmSummaryCardComponent.new(
              edition: @edition,
              ),
            ) %>

      <% @schema.subschemas.each do |subschema| %>
        <% if @edition.details[subschema.id] %>
          <%= render Shared::EmbeddedObjects::SummaryCardComponent.with_collection(
            @edition.details[subschema.id].keys,
            edition: @edition,
            object_type: subschema.id,
            redirect_url: redirect_url_for_subschema(subschema, @edition),
            test_id_prefix: "review_embedded",
            ) %>
        <% end %>
      <% end %>

      <% unless @edition.document.is_new_block? %>
        <%= render(
              Edition::Show::NotesSummaryCardComponent.new(
                edition: @edition,
                ),
              ) %>

        <%= render(
              Edition::Show::PublicationDetailsSummaryCardComponent.new(
                edition: @edition,
                ),
              ) %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form_with(
            url: workflow_path(@edition, step: :review),
            method: :put,
            id: "review",
            **form_data_attributes,
            ) do %>
        <%= render "govuk_publishing_components/components/checkboxes", {
          name: "is_confirmed",
          id: "is_confirmed",
          heading: "Confirm",
          visually_hide_heading: true,
          no_hint_text: true,
          error: @confirm_error_copy,
          items: [
            {
              label: "I confirm that the details I’ve put into the content block have been checked and are factually correct.",
              value: true,
            },
          ],
        } %>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <div>
          <%= render "govuk_publishing_components/components/button", {
            text: button_text_submit_for(@edition),
            name: "save_action",
            value: save_action_value_for(@edition),
            type: "submit",
            form: "review",
            data_attributes: {
              "testid": "submit-button",
            },
          } %>
        </div>
        <% if pre_release_features? %>
          <div>
            <%= render "govuk_publishing_components/components/button", {
              text: "Save as draft",
              name: "save_action",
              value: "save_as_draft",
              type: "submit",
              form: "review",
              secondary_solid: true,
            } %>
          </div>
        <% end %>
        <div>
          <%= render Shared::CancelButtonComponent.new(@edition) %>
        </div>
      </div>
    </div>
  </div>
</div>
